<body>

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">



        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container">

{{#each products}}
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                     
                                                                        
                                            <img class="d-block  rounded"  src="/productImages/{{this.image}}"  alt="First slide">
                                   
                                    
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                
                                <p class="product-price"><strong>{{this.name}}</strong></p>
                                 
                                    <h2>₹{{this.price}}</h2>
                                

                                <!-- Avaiable -->
                                {{#unless this.stock}}
                                <p class="navaibility"><i class="fa fa-circle"></i> Out of Stock</p>
                                {{else}}
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                                {{/unless}}
                            </div>

                            <div class="short_overview my-5">
                                <p class="avaibility">{{this.description}}</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="post">
                                {{!-- <div class="cart-btn d-flex mb-50">
                                    <p>Qty</p>
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                    </div>
                                </div> --}}
                                
                                <input type="hidden" value={{this.id}} name="id">
                                
                                {{#unless this.stock}}
                                <button type="submit" name="addtocart"  class="btn amado-btn disabled" id="myBtn" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"><h4>Add to cart</h4></button>
                                 {{else}}
                                 {{#if  ../user}}
                                <button type="submit" name="addtocart"  class="btn amado-btn disable" id="myBtn" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal"><h4>Add to cart</h4></button>
                                {{else}}
                                <button type="submit"   class="btn amado-btn disable" ><h4>Add to cart</h4></button>
                                {{/if}}
                                {{/unless}}                                    
                            </form>

                        </div>
                    </div>
                </div>
 {{/each}}
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body">
        <h2>Succesfully Added to Cart</h2>
      </div>
      <div class="modal-footer">
    
      </div>
    </div>
  </div>
</div>




    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <script>
        
  $('#myBtn').click(function(){
    $('#exampleModalToggle2').modal('show')
    setTimeout(function(){
      $('#exampleModalToggle2').modal('hide');
    }, 2000);
  });
</script>


</body>
<br><br><br><br><br> <br><br><br><br><br>

<div id='lens'></div>
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card border-0 product-view-card col-12">


                <div class="row">
                    <div class="col-md-6">
                        <div class="images">

                            <div class="text-center col-12 zoom-image"
                                data-image="/productImages/{{products.image}}">
                                <img class="col-12" id="main_product_image" src="/productImages/{{products.image}}" 
                                    width="400" style="background-color:#ffffff;border-radius:20px;" />
                            </div>

                            <div class="thumbnail_images container ">
                                <ul id="thumbnail " class="row"> 
                                    <li class="col-sm"><img onclick="changeImage(this)" src="/productImages/{{product.image.[0]}}"
                                            width="70">
                                    </li>
                                    <li class="col-sm"><img onclick="changeImage(this)" src="/productImages/{{product.image.[1]}}"
                                            width="70">
                                    </li>
                                    <li class="col-sm"><img onclick="changeImage(this)" src="/productImages/{{product.image.[2]}}"
                                            width="70">
                                    </li>
                                    <li class="col-sm"><img onclick="changeImage(this)" src="/productImages/{{product.image.[3]}}"
                                            width="70">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="product p-4" style="font-weight:800">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"><a href="/home"
                                        style="text-decoration: none; color: #6a6c6d;"><i
                                            class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span></a></div>

                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">
                                    {{product.category}}
                                </span>
                                <h5 class="text-uppercase mb-5" style="font-size: 35px; font-weight:">
                                    {{product.name}}
                                </h5>
                                <div class="price d-flex flex-row align-items-center"> <span
                                        class="text-danger act-price" style="margin-right: 10px">
                                        ₹{{product.price}}/- per pair
                                    </span>
                                    40% off
                                </div>
                            </div>
                            <p class="about">
                                {{product.description}}
                            </p>
                            <div>
                                 {{!-- <button class="btn btn-outline-dark">Buy
                                    Now</button>  --}}
                                    <a href="addtocart?id={{product._id}}"> Add to Cart</a></div>
                            {{!-- <form action="/user-home/addtoCart" method="post">
                                <button type="submit" class="btn btn-outline-dark bg-dark text-light w-50 mb-5 p-3"
                                    style="width: 100%; margin-top: 10vw; border-radius:50px;">Add to cart</button>

                            </form> --}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    function changeImage(element) {

        var main_prodcut_image = document.getElementById('main_product_image');
        main_prodcut_image.src = element.src;

    }


    // <//script>

    jQuery(document).ready(function ($) {

        $('.zoom-image img').click(function (event) {
            var ix = $(this).offset().left;
            var iy = $(this).offset().top;
            console.log(ix + '-' + iy);

            var mx = event.pageX;
            var my = event.pageY;
            console.log(mx + '-' + my);
        })

        $('.zoom-image img').hover(function () {

            var img = $(this).attr('src');

            $(this).after("<div class='hover-image' style='background-image: url(" + img + "); background-size: 300px;'></div>");

            $(this).mousemove(function (event) {

                // Mouse Position
                var mx = event.pageX;
                var my = event.pageY;

                // Image Position
                var ix = $(this).offset().left;
                var iy = $(this).offset().top;

                // Mouse Position Relavtive to Image
                var x = mx - (ix);
                var y = my - (iy);

                // Image Height and Width
                var w = $(this).width();
                var h = $(this).height();

                // Mouse Position Relative to Image, in %
                var xp = (-x / w) * -100;
                var yp = (-y / h) * -100;

                $(this).parent().find('.hover-image').attr('style',

                    "background-image: url(" + img + "); background-size: 1000px; background-repeat: no-repeat; background-position: " + xp + "% " + yp + "%; top: " + y + "px; left: " + x + "px;");

            });

        }, function () {

            $(this).parent().find('.hover-image').remove();

        });

    });


</script>